# **Importing Data**

In [30]:
# !gdown --id 1S5_OlhERoxvRHh5jTffjPcykFGMO5UFk
# !gdown --id 1bMS5XK4JbfJo3NkMTHngBXtF5ldKpbfB
# !gdown --id 1wpWLUN-ATWn6-PnZ6CN-Kr4YC6j-8RdX #Monthly_Alloc

#Alloc_Jan 1l04EdxugtgruzkuOWdYZ24Vk7wBBIfzg 
#Alloc_Feb 1pWE2EC8XXCUtzQLUIZLWjLWR8Y1-lwex
#Alloc_Mar 1OFpn8DX-Wd-XlCtjql1LEtFUF_AoRBMU 
#Alloc_Apr 1mh_j2C8L9EWdDDXgPtwFsvVmmowUuvl5
#Alloc_May 1XPeGZRX4ROMbnAHI4012ymSJ-5FvuuRN
#Alloc_Jun 1i31IoEyIQxWzn6u8LmQFTz6WxLJ0H1pm
#Alloc_Jul 1bkZRDR9PGYM2cP87y96k_wFD1SvqY_jK
#Alloc_Aug 1rolqSD7lj4EVTwyW4LK1DHAolD6DMOpm
#Alloc_Sep 1KruzsSbyv0yyPHKlN8C6vLyOvs7FIzmO
#Alloc_Oct 1Be867mJp07Za3dAM9awzxPTUz5x9CaJL
#Alloc_Nov 1faYhUx9FtFlBL8J8EKfSBIlkWAT0piID
#Alloc_Dec 1rEyK-CgcIrwMYLye91PjEKIVaki6Ytgx

In [31]:
#!gdown --id 1KruzsSbyv0yyPHKlN8C6vLyOvs7FIzmO

# **Main**

In [103]:
%matplotlib inline
import pandas as pd
import numpy as np


Alloc_in = pd.read_csv("Alloc_Jan.csv")
Alloc_in.shape

(24, 1100001)

In [104]:
Alloc_in = Alloc_in.drop(Alloc_in.columns[[0]], axis=1)
Alloc_in

,1,2,0,1.1,2.1,3,4,5,6,7,...,0.438952,0.438953,0.438954,0.438955,0.438956,0.438957,0.438958,0.438959,0.438960,0.438961
0,1.4681,1.4622,1,0.18000,0.25000,0.25000,0.25000,0.47307,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
1,1.3381,1.3244,2,0.18000,0.24200,0.25000,0.18900,0.41207,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
2,1.2585,1.2608,3,0.18000,0.25000,0.25000,0.16239,0.35107,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
3,1.2285,1.2291,4,0.18000,0.25000,0.25000,0.16646,0.31700,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
4,1.2485,1.2291,5,0.18000,0.24239,0.25000,0.13307,0.37800,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
5,1.3781,1.3244,6,0.18000,0.25000,0.25000,0.19407,0.43900,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
6,1.5681,1.4198,7,0.18000,0.25000,0.25000,0.25000,0.50000,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
7,1.7477,1.4622,8,0.18000,0.25000,0.25000,0.25000,0.50000,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
8,1.9873,1.5469,9,0.18000,0.25000,0.25000,0.25000,0.50000,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
9,2.2669,1.6741,10,0.16874,0.18900,0.18900,0.18900,0.43900,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
10,2.4269,1.7376,11,0.18000,0.12800,0.14222,0.12800,0.37800,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
11,2.4665,1.7482,12,0.18000,0.13353,0.20322,0.06700,0.31700,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
12,2.4269,1.7482,13,0.18000,0.12800,0.16243,0.12800,0.36602,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
13,2.3169,1.6741,14,0.17592,0.18900,0.18900,0.18900,0.42702,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
14,2.3369,1.6211,15,0.18000,0.25000,0.25000,0.25000,0.48802,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
15,2.3269,1.5787,16,0.18000,0.25000,0.25000,0.25000,0.50000,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
16,2.3369,1.5787,17,0.18000,0.25000,0.25000,0.25000,0.50000,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
17,2.3269,1.6211,18,0.18000,0.25000,0.25000,0.25000,0.50000,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
18,2.3769,1.8118,19,0.18000,0.25000,0.25000,0.25000,0.50000,0.355,0.015,...,0,0,0,0,0,0,0,0,0,0
19,2.3969,1.9389,20,0.18000,0.25000,0.25000,0.25000,0.50000,0.500,0.015,...,0,0,0,0,0,0,0,0,0,0
20,2.2669,1.9389,21,0.18000,0.25000,0.25000,0.25000,0.50000,0.500,0.015,...,0,0,0,0,0,0,0,0,0,0
21,2.0673,1.8754,22,0.18000,0.25000,0.25000,0.25000,0.50000,0.355,0.015,...,0,0,0,0,0,0,0,0,0,0
22,1.8477,1.6635,23,0.18000,0.25000,0.25000,0.25000,0.50000,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0
23,1.6577,1.4410,24,0.18000,0.25000,0.25000,0.25000,0.50000,0.050,0.015,...,0,0,0,0,0,0,0,0,0,0

In [105]:
allocInNumpy=np.array(Alloc_in)
#Alloc_in

In [106]:
for i in range(1099999, 0, -1):
  if (allocInNumpy[0,i] > 0):
    j = i
    break
while(j%22 != 0):
  j = j+1
j

692516

In [107]:
allocInNumpy = allocInNumpy[:,0:j]
print(allocInNumpy.shape)
k = int(j/22)

(24, 692516)

# **Thermal**

In [108]:
temp2 = np.zeros((24,k))
for i in range(0,k):
    temp1 = np.sum(allocInNumpy[:,(i*22+10):(i*22+17)], axis = 1, keepdims = True)
    temp1 = temp1.reshape(24)
    temp2[:,i] = temp1

print(temp2)

[[1.46215  1.37387  1.36542  ... 1.41976  1.32904  1.36229 ]
 [1.32441  1.24445  1.23679  ... 1.28601  1.20384  1.23396 ]
 [1.26084  1.18471  1.17743  ... 1.22429  1.14606  1.17473 ]
 ...
 [1.8      1.76213  1.75129  ... 1.821    1.70464  1.495   ]
 [1.495    1.56302  1.55341  ... 1.61523  1.512024 1.495   ]
 [1.44096  1.35396  1.34563  ... 1.39918  1.30978  1.34255 ]]

In [109]:
df = pd.DataFrame(temp2 )
df.to_csv('Jan_Thermal.csv')
df.shape

(24, 31478)

In [110]:
y = []
for j in range(0,3):
  x = []
  for i in range(0,24):
    if (j == 0):
      x.append(np.percentile(temp2[i,:], 2.5))
    if (j == 1):
      x.append(np.mean(temp2[i,:]))
    if (j == 2):
      x.append(np.percentile(temp2[i,:], 97.5))
  y.append(x)
#print(y)
Jan = pd.DataFrame(y)  
print(Jan)    
# saving the dataframe  
Jan.to_csv('Jan_Therm_per.csv')

         0         1         2         3         4         5         6   \
0  0.820000  0.820000  0.820000  0.820000  0.820000  0.820000  0.820000
1  1.365231  1.238484  1.179757  1.150393  1.150393  1.238439  1.321240
2  1.467561  1.329422  1.265611  1.233702  1.233702  1.329410  1.422391

         7         8         9   ...        14        15        16        17  \
0  0.820000  0.820000  0.583628  ...  0.676011  0.830214  1.045000  1.167000
1  1.313117  1.087503  0.681907  ...  0.762559  0.928404  1.266149  1.470489
2  1.459961  1.248050  0.848726  ...  0.891384  1.032206  1.370860  1.617861

         18        19        20        21        22        23
0  1.289000  1.373000  1.434000  1.495000  1.373000  1.242761
1  1.644253  1.741748  1.742742  1.694685  1.523643  1.348383
2  1.811699  1.941243  1.941243  1.875269  1.660161  1.446412

[3 rows x 24 columns]

# **Hydro**

In [111]:
temp2 = np.zeros((24,k))
for i in range(0,k):
    temp1 = allocInNumpy[:,(i*22+18)]
    temp1 = temp1.reshape(24)
    temp2[:,i] = temp1

In [112]:
df = pd.DataFrame(temp2 )
df.to_csv('Jan_Hydro.csv')
df.shape

(24, 31478)

In [113]:
y = []
for j in range(0,3):
  x = []
  for i in range(0,24):
    if (j == 0):
      x.append(np.percentile(temp2[i,:], 2.5))
    if (j == 1):
      x.append(np.mean(temp2[i,:]))
    if (j == 2):
      x.append(np.percentile(temp2[i,:], 97.5))
  y.append(x)
#print(y)
Jan = pd.DataFrame(y)  
print(Jan)    
# saving the dataframe  
Jan.to_csv('Jan_Hydro_per.csv')

         0         1         2         3         4         5         6   \
0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1  0.002941  0.003705  0.002549  0.002213  0.003457  0.003366  0.002764
2  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

         7         8         9   ...       14        15       16        17  \
0  0.000000  0.000000  0.000000  ...  0.00000  0.000000  0.00000  0.000000
1  0.010609  0.007887  0.000941  ...  0.00144  0.003119  0.00362  0.013036
2  0.143363  0.118852  0.000000  ...  0.00000  0.000000  0.00000  0.116167

         18        19        20        21        22       23
0  0.000000  0.000000  0.000000  0.000000  0.000000  0.00000
1  0.006721  0.011778  0.009374  0.006261  0.008266  0.00325
2  0.000000  0.285473  0.000000  0.000000  0.076573  0.00000

[3 rows x 24 columns]

# **Import**

In [114]:
temp2 = np.zeros((24,k))
for i in range(0,k):
    temp1 = allocInNumpy[:,(i*22+21)]
    temp1 = temp1.reshape(24)
    temp2[:,i] = temp1

In [115]:
df = pd.DataFrame(temp2 )
df.to_csv('Jan_Import.csv')
df.shape

(24, 31478)

In [116]:
y = []
for j in range(0,3):
  x = []
  for i in range(0,24):
    if (j == 0):
      x.append(np.percentile(temp2[i,:], 2.5))
    if (j == 1):
      x.append(np.mean(temp2[i,:]))
    if (j == 2):
      x.append(np.percentile(temp2[i,:], 97.5))
  y.append(x)
#print(y)
Jan = pd.DataFrame(y)  
print(Jan)    
# saving the dataframe  
Jan.to_csv('Jan_Import_per.csv')

         0             1             2             3             4         5   \
0  0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000
1  0.020786  1.592604e-02  1.541883e-02  1.492336e-02  1.367970e-02  0.016310
2  0.135694  2.220400e-16  2.220400e-16  2.220400e-16  2.220400e-16  0.024216

         6         7             8             9   ...            14  \
0  0.000000  0.000000 -1.110200e-16 -1.110200e-16  ... -1.110200e-16
1  0.024695  0.065232  5.680959e-02  5.383660e-03  ...  5.828952e-03
2  0.158417  0.317616  2.858280e-01  7.254205e-04  ...  0.000000e+00

             15            16        17        18        19        20  \
0 -1.110200e-16 -1.665300e-16  0.000000  0.000000  0.000000  0.000000
1  7.385761e-03  1.892724e-02  0.056407  0.070126  0.088352  0.089763
2  1.110200e-16  2.142245e-01  0.316872  0.384089  0.439523  0.433573

         21        22        23
0  0.000000  0.000000  0.000000
1  0.080543  0.048282  0.017195
2  0.391611  0.212293  0.065360

[3 rows x 24 columns]

# **Extra**

In [117]:
temp2 = np.zeros((5, 24))
for i in range(0,1):
  for j in range(1,5):
    if (j == 0):
      temp1 = np.sum(allocInNumpy[:,(i*22+3):(i*22+10)], axis = 1, keepdims = True)
      temp1 = temp1.reshape(1,24)
    elif (j == 1):
      temp1 = allocInNumpy[:,(i*22+17)]
    elif (j == 2):
      temp1 = allocInNumpy[:,(i*22+19) ]
    elif (j == 3):
      temp1 = allocInNumpy[:,(i*22+20)]
    temp2[i*j+j,:] = temp1

#print(temp2)
df = pd.DataFrame(temp2 )
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000,0.00000,0.00000,0.0000,...,0.000000e+00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000
1,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000,0.00000,0.00000,0.0000,...,0.000000e+00,0.00000,0.17194,0.44700,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000
2,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000,0.00000,0.38217,1.0272,...,8.538900e-01,0.60827,0.23102,0.00000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000
3,2.220400e-16,0.0,2.220400e-16,2.220400e-16,0.0,0.0,0.073071,0.25269,0.11013,0.0000,...,2.220400e-16,0.22364,0.43895,0.38491,0.57691,0.45191,0.32191,0.2673,0.35269,0.16269
4,2.220400e-16,0.0,2.220400e-16,2.220400e-16,0.0,0.0,0.073071,0.25269,0.11013,0.0000,...,2.220400e-16,0.22364,0.43895,0.38491,0.57691,0.45191,0.32191,0.2673,0.35269,0.16269

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive